:root {
  --blue: #007bff;
  --indigo: #6610f2;
  --purple: #6f42c1;
  --pink: #e83e8c;
  --red: #dc3545;
  --orange: #fd7e14;
  --yellow: #ffc107;
  --green: #28a745;
  --teal: #20c997;
  --cyan: #17a2b8;
  --white: #fff;
  --gray: #868e96;
  --gray-dark: #343a40;
  --primary: #007bff;
  --secondary: #868e96;
  --success: #28a745;
  --info: #17a2b8;
  --warning: #ffc107;
  --danger: #dc3545;
  --light: #f8f9fa;
  --dark: #343a40;
  --breakpoint-xs: 0;
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;
}

* {
  box-sizing: border-box;
}
body {
  background: #eee;
  margin: 0;
  padding: 0;
  font-family: 'Noto Sans KR', sans-serif;
  color: #333;
  font-size: 15px;
}
input,
textarea,
button {
  font-family: 'Noto Sans KR', sans-serif;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  min-height: 90px;
  padding: 40px 0;
  background: #fff;
  border-bottom: 1px solid #e1e1e1;
  /* animation magic */
  transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  z-index: 1;
  top: 0;
  position: fixed;
}
header h1 {
  font-size: 30px;
  text-indent: 40px;
  font-weight: bold;
}
.container {
  padding: 190px 16px 20px 16px;
  width: 100%;
  margin: 0 auto;
}
.shrink {
  padding: 0;
}
a {
  text-decoration: none;
  color: #333;
  outline: none;
}
a:hover {
  color: #222;
  font-weight: 500;
}
p {
  margin: 0 0 40px 0;
  line-height: 24px;
}
strong {
  font-weight: bold;
}
.right {
  display: flex;
  align-items: center;
}
.avatar {
  margin: 0 14px 0 0;
  border-radius: 150px;
  width: 54px;
}
.user-email {
  margin: 0 16px 0 0;
}
.btn-logout,
.btn-login {
  margin: 0 40px 0 0;
  padding: 4px 10px;
  border-radius: 2px;
  border: 1px solid #000;
}
.lunch-link {
  color: #888;
}
.lunch-link:hover {
  color: #222;
  text-decoration: underline;
}
.lunch-image {
  width: 240px;
}
.btn-comments,
.btn-like-dislike {
  padding: 2px 10px 0;
  border-radius: 10px;
  border: 1px solid #fff;
  display: flex;
  align-items: center;
  background: rgba(255, 255, 255, 0.4);
  height: 40px;
  cursor: pointer;
  outline: none;
}
.btn-comments:hover,
.btn-like-dislike:hover {
  background: #fff;
  border: 1px solid #000;
}
.btn-comments img {
  margin: 0 10px 0 0;
  width: 32px;
}
.btn-like-dislike i {
  margin: 0 10px 0 0;
  font-size: 24px;
}
.btn-comments span,
.btn-like-dislike span {
  font-weight: 600;
}
.icon-popup {
  margin: 0 0 0 10px;
  width: 32px;
  vertical-align: middle;
}
