.lunch-title {
  padding: 0;
  margin: 0 0 20px 0;
  font-size: 28px;
  display: flex;
  align-items: center;
  text-indent: 25px;
}

.info {
  padding: 10px;
  display: flex;
  align-items: center;
}

.info div {
  max-width: 340px;
  margin: 0 6px;
}

.info .btn-like-dislike,
.info .btn-comments {
  flex: 1;
  width: 100px;
}

.info .btn-like-dislike i,
.info .btn-comments i {
  text-indent: -24px;
  width: 24px;
}
